@media only screen and (max-width: 830px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px groove #868da0;
  padding: 0.5em;
  background-color: #eef3f8;
  min-width: 300px;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo a{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.logo img{
  min-width: 100px;
  max-width: 150px;
}
