.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px groove #868da0;
  padding: 1em;
  background-color: #EEF3F8;
}
.categorias {
  width: 40%;
}
.logo {
  width: 40%;
  display: flex;
  justify-content: center;
}
