.overlayContainer {
  background-color: black;
}
.containerModal,
.modalFooter {
  width: 30%;
  height: 50%;
  max-height: calc(100vh - 210px);
  overflow: auto;
  position: absolute;
  bottom: 30%;
  left: 65%;
  border: 3px solid gray;
  padding: 1em;
  box-shadow: 10px 10px 10px black, -10px -10px 10px black;
  background-color: rgba(0, 0, 0, 0.8);
}
.modalFooter {
  height: 10px;
  background: whitesmoke;
  border: none;
  box-shadow: none;
  width: 30.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
.modalFooter::-webkit-scrollbar {
  display: none;
}
div.containerCard {
  display: flex;
  justify-content: center;
}
.containerCard {
  width: 80%;
  border: 1px groove gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 2em;
  color: black;
  background-color: #fef4f4;
}
.containerCard img {
  min-width: 25%;
  min-height: 10%;
  max-width: 50%;
  max-height: 50%;
}
.titulo {
  font-size: 22px;
  font-weight: bold;
}
.preco {
  font-size: 20px;
}
.descricao {
  font-size: 18px;
  text-align: justify;
}
.counter {
  width: 50%;
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.counter button,
.counter p {
  height: 25px;
  font-size: 20px;
  font-weight: bold;
}

.modalFooter span {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.modalFooter button {
  background-color: black;
  color: white;
}
.modalFooter button:hover {
  background-color: gray;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .containerModal,
  .modalFooter {
    left: 20%;
    width: 50%;
  }
  .containerModal {
    height: 80%;
  }
  .containerCard {
    width: 100%;
    margin: 1em;
  }
}
