footer {
  height: 100%;
  background-color: #000000;
  padding: 1em 0em;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 100px));
  justify-items: center;
}
footer p {
  color: white;
}
.colunas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
}
footer a {
  text-decoration: none;
  color: #868da0;
}
.copy{
  text-align: center;
}