.descricaoContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}
.descricao{
    display: flex;
    flex-direction: column;
}
.descricao p{
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.descricao span {
    color: red;
    font-weight: bold;
}
div .banner{
    width: 100%;
}
.banner{
    min-height: 200px;
    max-height: 400px;
    min-width: 300px;
    max-width: 800px;
}